<div class="flex w-full h-ful ">
  <div
    class=" min-h-screen  flex flex-col justify-between"
  >
    <div class="h-1/7  ">
      <label class="p-4 text-3xl  font-bold"
        >Content Management</label
      >
      <p class="p-4 text-lg font-bold ">Welcome: {{ username }}</p>
    </div>
    <div class="mt-3">
      <a routerLink="/admin/welcome">
        <p
          class="underline  ml-5 hover:text-blue-600 hover:cursor-pointer"
        >
          ข้อมูลสินค้า
        </p>
      </a>
      <a routerLink="/admin/add">
        <p
          class="underline ml-5 mt-3  hover:text-blue-600 hover:cursor-pointer"
        >
          เพิ่มข้อมูลสินค้า
        </p>
      </a>
      <a routerLink="/admin/category">
        <p
          class="underline ml-5 mt-3  hover:text-blue-600 hover:cursor-pointer"
        >
          จัดการข้อมูลหมวดหมู่
        </p>
      </a>
      <a routerLink="/admin/contact">
        <p
          class="underline ml-5 mt-3  hover:text-blue-600 hover:cursor-pointer"
        >
          จัดการข้อมูลผู้ติดต่อ
        </p>
      </a>
    </div>
    <div class="mt-auto">
      <a routerLink="/admin" (click)="delCookies()">
        <p
          class="underline ml-5 mb-10  hover:text-blue-600 hover:cursor-pointer"
        >
          Logout
        </p>
      </a>
    </div>
  </div>
</div>
