<div class="flex justify-center items-center h-screen">
  <form class="w-1/5" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <label class="font-bold text-white text-3xl">Content Management</label>
    <div class="grid grid-cols-1 mt-2">
      <input
        type="text"
        formControlName="username"
        placeholder="Username"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        class="mt-7 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      <button type="submit" class="bg-slate-300 mt-7 h-8 rounded-lg">
        Login
      </button>
    </div>
  </form>
</div>
