<app-menu [cart]="items"></app-menu>
<div class="container w-full h-full mx-auto mt-10">
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div *ngFor="let img of thumbnail">
      <img class="h-auto max-w-full rounded-lg" [src]="img" [alt]="img" />
      <div class="mt-2 flex justify-center">
        <input type="number" [id]="img" #itemsInput class="rounded-lg h-9" placeholder="จำนวนสินค้า"/>
        <button
          type="button"
          id="addItems"
          (click)="addNewItems(itemsInput.value)"
          class="bg-slate-50 ml-2 rounded-lg w-28"
        >
          เพิ่มลงในตะกร้า
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
